<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">
  <cpname/>
  <cplogo/>
  <cpauthjs/>
  <ThumbIcon/>
  <BigThumbIcon/>
  <ListIcon/>
  <BigListIcon/>
  <category/>
  <autoUpdate>n</autoUpdate>
  <ver>0.100</ver>
  <mgrver/>
  <fullwidget>y</fullwidget>
  <type>user</type>
  <srcctl>y</srcctl>
  <ticker>n</ticker>
  <childlock>n</childlock>
  <videomute>n</videomute>
  <dcont>y</dcont>
  <widgetname>HelloWorld</widgetname>
  <description/>
  <width>1280</width>
  <height>720</height>
  <author>
    <name/>
    <email/>
    <link/>
    <organization/>
  </author>
</widget>